@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.main-bg {
  background-image: url('static/images/bg.jpg');
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
}

.checked-icon {
  right: -15px;
  top: -15px;
}